aiofiles
aiohappyeyeballs
aiohttp
aiosignal
aiosqlite
alphashape
annotated-types
anyio
attrs
beautifulsoup4
Brotli
certifi
cffi
chardet
charset-normalizer
click
click-log
colorama
Crawl4AI
cryptography
cssselect
distro
fake-http-header
fake-useragent
fastapi
filelock
frozenlist
fsspec
greenlet
groq
h11
h2
hpack
httpcore
httpx
huggingface-hub
humanize
hyperframe
idna
importlib_metadata
Jinja2
jiter
joblib
jsonschema
jsonschema-specifications
lark
litellm
lxml
markdown-it-py
MarkupSafe
mdurl
multidict
networkx
nltk
numpy
openai
packaging
patchright
pillow
playwright
propcache
psutil
pycparser
pydantic
pydantic_core
pyee
Pygments
pyOpenSSL
pyperclip
python-dotenv
PyYAML
rank-bm25
referencing
regex
requests
rich
rpds-py
rtree
scipy
shapely
sniffio
snowballstemmer
soupsieve
starlette
tf-playwright-stealth
tiktoken
tokenizers
tqdm
trimesh
typing-inspection
typing_extensions
urllib3
uvicorn
xxhash
yarl
zipp